@model mvc_library.Models.Library

<h1>@Model.Name</h1>
<p>@Model.Address</p>

<a asp-controller="Library" asp-action="AddBook">Add Book</a>



<ul>
  @foreach(var book in Model.Books){
    <li>@book.Title - @book.Author</li>
  }
</ul>
